@import '../../themesource/valcon_core/web/custom-variables.scss';
//Valcon Colors
$valcon-dark-grey: #262622;
$valcon-light-grey: #E6E6E6;
$valcon-blue: #1E64E8;
$valcon-purple: #9A71FF;
$valcon-warm-red: #EE5743;
$valcon-brown: #9A6E37;
$valcon-pink: #A3818A;
$valcon-green: #87A100;
$valcon-lime: #C9EB30;